<div class="blog_wrapper">
    {% for post in posts %}
    <div class="blog_square  grid">
        <img src="{{ post.post_img.url }}" class="mask" alt="">
        <div class="blog_content">
            <div class="h3">{{ post.title }}</div>
            <p class="text_sm">{{ post.body | slice:":400" }}...</p>
            <button class="btn btn-primary"><a href="{% url 'blog_detail' post.pk %}">Read More <i class='bx bx-right-arrow-alt'></i></a></button>
        </div>
    </div>
    {% endfor %}
</div>