{% load static %}
<section class="services section" id="services">
    <div class="container">
        <h2 class="section_title">Services.</h2>

        <div class="service_wrapper grid">
            <div class="service_item">
                <img src="{% static 'img/web-design.png' %}" alt="Web Designing">
                <h3 class="h3">Web Designing</h3>
                <p class="text_tiny">HTML/CSS/JAVASCRIP</p>
            </div>
            <div class="service_item">
                <img src="{% static 'img/web-development.png' %}" alt="Web Development">
                <h3 class="h3">Web Development</h3>
                <p class="text_tiny">PHP/PYTHON</p>
            </div>
            <div class="service_item">
                <img src="{% static 'img/app-development.png' %}" alt="App Development">
                <h3 class="h3">Application Development</h3>
                <p class="text_tiny">ANDROID</p>
            </div>
        </div>
    </div>
</section>